:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-max-width: 1290px;
  --main-yellow: #FFD012;
  --main-green: #004832;

  --mobile-max-width: 320px
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F8D8B8;
}